In [2]:
import pandas as pd
from pathlib import Path
import os

In [1]:
from ETLCodeBase.gold._helpers import classify_pillar, standardize_product
from ETLCodeBase.gold.user_inputs import process_units
from ETLCodeBase.gold.finance_logic import process_finance
from ETLCodeBase.gold.finance_budget import compose_budget_actual
# from ETLCodeBase.dev.finance_budget import compose_budget_actual
from ETLCodeBase.gold.finance_summary import create_financial_summary

In [2]:
process_finance()
compose_budget_actual()
create_financial_summary()

Starting Finance Operational Project Transformation

Revising Signs ...
Saving ...

Starting Budget to Actual Transformation


AccID mapping alerts:
Empty DataFrame
Columns: [Location, Month, AmountCAD, FiscalYear, AccNum, DataType, AccID]
Index: []
Location missing in actual: set()
Location missing in budget: {'Delaware', 'Cache/Fischer/Loon - DNU', 'Corporate', 'Missing', 'Colorado', 'BC Cattle MFL'}

Saving ...

,FiscalYear,Month,Location,Pillar,ProfitType,DataType,AmountDisplay
0,2024,April,Airdrie,Cattle-Feedlot,Gross Margin,Actual,0.000000
1,2024,April,Airdrie,Cattle-Feedlot,Contribution Margin,Actual,1253.410000
2,2024,April,Airdrie,Cattle-Feedlot,EBITDA,Actual,-620009.260000
3,2024,April,Airdrie,Cattle-Feedlot,Net Income,Actual,-631747.350000
4,2024,April,Arizona (produce),Produce,Gross Margin,Actual,-431849.300976
...,...,...,...,...,...,...,...
10659,2026,November,Wolf Ranch,Cattle-CowCalf,Sales Revenue,Actual,139820.910000
10660,2026,November,Yorkton,Grain,Cost of Goods Sold,Actual,465535.100000
10661,2026,November,Yorkton,Grain,Direct Operating Expenses,Actual,24009.050000
10662,2026,November,Yorkton,Grain,Operating Overheads,Actual,-2841.240000
10663,2026,November,Yorkton,Grain,Sales Revenue,Actual,89817.390000

In [2]:
df, alert, acc = compose_budget_actual(write_out=False)

Starting Budget to Actual Transformation

Location missing in actual: set()
Location missing in budget: {'Corporate', 'Colorado', 'Cache/Fischer/Loon - DNU', 'Delaware', 'Havre (deleted)', 'Missing', 'BC Cattle MFL'}

AccID mapping alerts: 67

In [3]:
df

,Location,Month,AmountCAD,FiscalYear,AccNum,DataType,AccID
0,Regina,November,1038518.25,2025,MFL501000,Budget,MFL270
1,Raymore,November,365079.50,2025,MFL501000,Budget,MFL270
2,Prince Albert,November,1248253.50,2025,MFL501000,Budget,MFL270
3,The Pas,November,0.00,2025,MFL501000,Budget,MFL270
4,Hafford,November,1980423.02,2025,MFL501000,Budget,MFL270
...,...,...,...,...,...,...,...
73385,Yorkton,June,473.54,2025,MFL586002,Actual,MFL348
73386,Yorkton,May,473.54,2025,MFL586002,Actual,MFL348
73387,Yorkton,October,473.54,2025,MFL586002,Actual,MFL348
73388,Yorkton,September,473.54,2025,MFL586002,Actual,MFL348
73389,Yorkton,November,-2841.24,2026,MFL586002,Actual,MFL348

In [7]:
alert.FiscalYear.value_counts()

FiscalYear
2024    66
2026     1
Name: count, dtype: int64

In [5]:
acc

,AccID,AccNum,AccName,FullyQualifiedName,Classification,AccountType,SubAccount,Active,CurrencyID,ParentAccID,CreateDate,LastUpdateDate,Corp,DetailType,AccountingType,ProfitType,Category,Subcategory,DisplayName,Commodity
0,MFUSA65,MFUSA210010,Accounts Payable (A/P),Accounts Payable (A/P),Liability,Accounts Payable,False,True,USD,NaN,2021-11-10,2026-02-03,MFUSA,AccountsPayable,Balance Sheet,Liabilities,Current Liabilities,Accounts Payable,MFUSA210010 Accounts Payable (A/P),Others
1,MFUSA203,MFUSA120100,Accounts Receivable,Accounts Receivable,Asset,Accounts Receivable,False,True,USD,NaN,2022-01-08,2025-09-15,MFUSA,AccountsReceivable,Balance Sheet,Assets,Current Assets,Accounts receivable,MFUSA120100 Accounts Receivable,Others
2,MFUSA33,MFUSA120000,Accounts Receivable (A/R),Accounts Receivable (A/R),Asset,Accounts Receivable,False,True,USD,NaN,2021-11-09,2026-01-26,MFUSA,AccountsReceivable,Balance Sheet,Assets,Current Assets,Accounts receivable,MFUSA120000 Accounts Receivable (A/R),Others
3,MFUSA35,MFUSA120040,Accrued interest - promissory note,Accrued interest - promissory note,Liability,Other Current Liability,False,True,USD,NaN,2021-11-09,2025-12-17,MFUSA,OtherCurrentLiabilities,Balance Sheet,Liabilities,Current Liabilities,Accrued Liabilities,MFUSA120040 Accrued interest - promissory note,Others
4,MFUSA69,MFUSA215500,Accrued Payables,Accrued Payables,Liability,Other Current Liability,False,True,USD,NaN,2021-11-10,2026-01-26,MFUSA,OtherCurrentLiabilities,Balance Sheet,Liabilities,Current Liabilities,Accrued Liabilities,MFUSA215500 Accrued Payables,Others
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3531,MFL431,MFL571012,RV Lot Rental,z Header - COC:Rent Expense:RV Lot Rental,Expense,Expense,True,True,CAD,MFL292,2019-01-26,2026-01-08,MFL,OfficeGeneralAdministrativeExpenses,Income Statement,Operating Overheads,Lease,NaN,MFL571012 RV Lot Rental,Others
3532,MFL297,MFL571005,Vehicle Rental,z Header - COC:Rent Expense:Vehicle Rental,Expense,Expense,True,True,CAD,MFL292,2018-10-30,2026-01-08,MFL,EquipmentRental,Income Statement,Direct Operating Expenses,Equipment rental,NaN,MFL571005 Vehicle Rental,Others
3533,MFL351,MFL586006,Scotia Lease #66476 interim payment,z Header - COC:Scotia Lease #66476 interim pay...,Expense,Expense,True,True,CAD,MFL374,2018-10-30,2021-12-18,MFL,BankCharges,Income Statement,Operating Overheads,Interest and bank charges,NaN,MFL586006 Scotia Lease #66476 interim payment,Others
3534,MFL355,MFL586012,Scotia Lease floating rate adj.,z Header - COC:Scotia Lease floating rate adj.,Expense,Expense,True,True,CAD,MFL374,2018-10-30,2021-12-18,MFL,InterestPaid,Income Statement,Operating Overheads,Interest and bank charges,NaN,MFL586012 Scotia Lease floating rate adj.,Others
3535,MFL312,MFL574200,Survey Costs,z Header - COC:Survey Costs,Expense,Expense,True,True,CAD,MFL374,2018-10-30,2021-12-18,MFL,OtherMiscellaneousServiceCost,Income Statement,Direct Operating Expenses,Repairs and maintenance,NaN,MFL574200 Survey Costs,Others

In [6]:
acc[acc["AccNum"] == "MPUSA410000"]

Empty DataFrame
Columns: [AccID, AccNum, AccName, FullyQualifiedName, Classification, AccountType, SubAccount, Active, CurrencyID, ParentAccID, CreateDate, LastUpdateDate, Corp, DetailType, AccountingType, ProfitType, Category, Subcategory, DisplayName, Commodity]
Index: []